body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  position: static;
  font-family: 'Cinzel Decorative', cursive;
}

p {
  margin: 0;
  font-family: sans-serif;
}
ul{
  display:inline-block;
  font-family: sans-serif;
}
.contact-me{
  font-family: 'Cinzel Decorative', cursive;
}
.get{
  font-family: sans-serif;
}
hr {
  border-bottom: hidden;
  border-color: black;
  border-width: 2px;
}

.top-container{
  background-color: #C1EFFF;
  position: relative;

  padding: 20px;
}
.top-cloud {
  position: relative;
  left: 30%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
}
